{% load static %}
<html>
    <head>
        <title>
            Story 7 PPW
        </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'style.css' %}">

        <style type="text/css">
       body {
      height: calc(100vh - 8em);
      padding: 4em;
      color: rgba(12, 8, 8, 0.75);
      font-family: 'Anonymous Pro', monospace;
      background-image: url('/static/BGR3.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;

}
      </style>   
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 justify-content-center">
                    <h3 class="line anim-typewriter font-weight-bold">Welcome to Story 7 PPW</h3>
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-8">
                    <ul>
                        <li>
                            <button onclick="kebawah()" name="button1a">v</button>
                            <button onclick="keatas()" name="button1b">^</button>
                            <button class="accordion text-monospace font-weight-bold" name="accordion1">
                                Aktivitas Saat Ini
                            </button>
                            <div class="panel">
                                <ul class="text-monospace">
                                    <li>Belajar</li>
                                    <li>Nugas</li>
                                    <li>Main Game</li>
                                    <li>Makan</li>
                                    <li>Tidur</li>
                                </ul>
                                Repeat
                            </div>
                        </li>
                        <li>
                            <button onclick="kebawah()" name="button2a">v</button>
                            <button onclick="keatas()" name="button2b">^</button>
                            <button class="accordion text-monospace font-weight-bold">
                                Pengalaman
                            </button>
                            <div class="panel">
                                <ul class="text-monospace">
                                    <li>Staff Games Perak 2020</li>
                                    <li>Staf Humas BEM Fasilkom UI 2020</li>
                                    <li>Staff Perlengkapan Wisuda Genap Fasilkom UI</li>
                                    <li>Staff F&B COMPFEST XII</li>
                                    <li>PIC LO Open House Fasilkom UI 2020</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button onclick="kebawah()" name="button3a">v</button>
                            <button onclick="keatas()" name="button3b">^</button>
                            <button class="accordion text-monospace font-weight-bold">
                                Prestasi
                            </button>
                            <div class="panel">
                                <ul class="text-monospace">
                                    <li>Masih kuat menjalani PJJ</li>
                                    <li>Masih Sanggup mengerjakan Story PPW</li>
                                    <li>Masih Sehat selama Kuliah di Fasilkom UI</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button onclick="kebawah()" name="button4a">v</button>
                            <button onclick="keatas()" name="button4b">^</button>
                            <button class="accordion text-monospace font-weight-bold">
                                Video Game Favorit
                            </button>
                            <div class="panel">
                                <ul class="text-monospace">
                                    <li>Fifa</li>
                                    <li>ML</li>
                                    <li>Grand Theft Auto V</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
        <script src="{% static 'accordion.js' %}"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

</html>